body {
    overflow: hidden;
    margin: 0;
    background: repeating-linear-gradient(to right, #31aae7, #ee58f3);
    caret-color: transparent;
    color: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

:root {
    --calc-button: clamp(3rem, 4rem + 5vw, 6rem);
    --calc-width: calc(var(--calc-button) * 4);
}

.box {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 3rem auto 0;
    padding: 0 10%;
    justify-content: space-around;
    gap: 2rem;
}

.calculator-grid {
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, var(--calc-button));
    grid-template-rows: minmax(7rem, auto) repeat(6, var(--calc-button));
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.chat-window-hidden {
    visibility: 0;
    position: relative;
    padding: 20px;
    width: var(--calc-width);
}

.chat-window-open {
    background-color: rgba(00, 00, 00, 0.75);
    color: white;
    width: var(--calc-width);
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px;
    transform: translate3d(0, 0, 0);
    transition: 0.3s all ease-in-out;
    justify-content: center;
}

#bottom-left-corner {
    border-bottom-left-radius: 10px;
}

#bottom-right-corner {
    border-bottom-right-radius: 10px;
}

.gpt-symbol {
    color: rgb(255, 255, 255, 0.7);
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 5px;
    outline: none;
}

.gpt-symbol:hover,
.info-icon:hover {
    color: white;
    cursor: pointer;
}

.dropdown {
    min-width: 320px;
    padding-right: 15%;
}

.dropdown-title {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 25px 20px 0px 20px;
}

.dropdown-button,
.dropdown-toggle.show,
.dropdown-button:active {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    border: none;
}

.dropdown-button:hover,
.dropdown-button:active,
.dropdown-button:focus {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.prompt-menu {
    border-radius: 10px;
    width: var(--calc-width);
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1%;
}

.selected-prompt {
    background-color: rgba(149, 201, 249, 0.7);
    border-radius: 10px;
    color: white;
    border-bottom: solid rgba(0, 0, 0, 0.65);
    border-right: solid rgba(0, 0, 0, 0.65);
    border-top: solid rgba(0, 0, 0, 0.65) 0.7px;
    border-left: solid rgba(0, 0, 0, 0.65) 0.7px;
}

.selected-prompt:hover {
    background-color: rgba(183, 220, 255, 0.935) !important;
}

.prompt-option {
    color: black;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 25px 20px 0px 20px;
}

.prompt-option:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.dropdown-menu {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.dropdown-option:hover,
.dropdown-option:active {
    background-color: rgba(255, 255, 255, 0.9);
}

.info-section {
    position: relative;
    /* left: 3%; */
}

.info-icon {
    color: rgb(255, 255, 255, 0.7);
    outline: none;
    transform: translateY(-110%);
}

.info-card {
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    font-size: larger;
    width: var(--calc-width);
    padding: 2rem;
    font-weight: 600;
    /* transform: translateY(50px); */
    /* opacity: 0; */
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.info-card.mobile {
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    font-size: larger;
    max-width: calc(var(--calc-button) * 4);
    padding: 2rem;
    font-weight: 600;
    transform: none;
    margin: 0 auto;
}

.info-card.show {
    position: relative;
    opacity: 1;
    transform: translateY(-110%);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.close-info {
    position: absolute;
    right: 10px;
    color: rgba(0, 0, 0, 0.75);
    top: 10px;
}

.close-info:hover {
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 0;
    margin: 1rem auto;
    width: calc(var(--calc-button) * 4);
    justify-content: space-around;
}

.nav-button {
    border-radius: 10px;
    /* align-items: center; */
    border: none;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 30%;
}

.nav-button.selected {
    background-color: rgba(255, 255, 255, 0.55);
}

.nav-icon {
    color: rgba(0, 0, 0, 0.85);
    font-size: 2rem;
}

.output {
    grid-column: 1 / -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(00, 00, 00, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.75rem 0.75rem 0.25rem 2.75rem;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    word-spacing: 10px;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.row-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.row-item>* {
    width: 100%;
}

@media (max-width: 1000px) {
    .box {
        flex-direction: column;
        align-items: center;
    }
}

.mobile {
    max-width: 16rem;
    justify-content: center;
}

.mobile-screen {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin: 0% auto; */
}

@media (max-width: 600px) {
    .hidden {
        display: none;
    }
    .info-section {
        display: none;
    }
    .calculator-grid {
        position: relative;
        justify-content: center;
        display: grid;
    }
}